
<!DOCTYPE html>
<html>
<head>

</head>
<body>
<!---
    <div th:fragment="footer">
        <div class="contact">

            <div class="row justify-content-center" style="margin-top: 2%;">
                <h4 style="margin-top: 3%;">Contact Us</h4>
            </div>

            <div class="row justify-content-center">
                <p><a href="mailto: nighthawkcodingsociety@gmail">nighthawkcodingsociety@gmail.com</a></p>
            </div>

            <div class="row justify-content-center">
                <a href=https://github.com/nighthawkcoders target="_blank"><i class="fa fa-github"></i></a>
                <a href=https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href=https://twitter.com/NighthawkCoding target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
    --->

</body>
</html>
