<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <a class="navbar-brand" href="/" style="color: #FB6E52;">
            Distraction
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarExplore" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!---<a class="dropdown-item" href="/birds">Birds</a> --->
                        <!---<a class="dropdown-item" href="/dne">404 error</a> --->
                        <a class="dropdown-item" href="/">Home</a>
<!--                        <a class="dropdown-item" href="/mvfetch/login">Login</a>-->
                        <a class="dropdown-item" href="/mvfetch/music">Latest Music</a>
                        <a class="dropdown-item" href="/mvfetch/movies">Latest Movies</a>
<!--                        <a class="dropdown-item" href="/mvfetch/genre_selection">Select Genres</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPBL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PBL
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/minilabs">Minilabs</a>
                        <a class="dropdown-item" href="/rgb-lab">RGB Lab</a>
                        <a class="dropdown-item" href="https://docs.google.com/document/d/10W1fRaVXmfQu-C0QNF9nDcVRDkTkhQuPjWrp2Y04fpk/edit" target="_blank" rel="noopener noreferrer">PBL Team Journal</a>
                       <!--- <a class="dropdown-item" href="https://freekashmir.nighthawkcodingsociety.com/" target="_blank" rel="noopener noreferrer">AP units</a>
                        <a class="dropdown-item" href="https://drone.nighthawkcodingsociety.com/ap-lessons/interface-abstraction-FRQ" target="_blank" rel="noopener noreferrer">2006 FRQ</a>
                        <a class="dropdown-item" href="https://drone.nighthawkcodingsociety.com/ap-lessons/interface-abstraction-FRQ" target="_blank" rel="noopener noreferrer">2019 FRQ</a> --->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navBarIndLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Individual Minilabs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/NolanMiniLabs">Nolan P</a>
                        <a class="dropdown-item" href="/AlvinMiniLabs">Alvin Z</a>
                        <a class="dropdown-item" href="/AkshayMiniLabs">Akshay R</a>
                        <a class="dropdown-item" href="/SamiMiniLabs">Sami D</a>
                        <a class="dropdown-item" href="/PrishaMiniLabs">Prisha M</a>

                    </div>
                </li>
            </ul>
            <!-- Clock display -->
            <div style="margin-right: 8px">
                <span id="clock" style="color: #1E1F1F"></span>
            </div>
            <!-- Dark mode action -->
            <div class="custom-control custom-switch">
                <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" for="darkSwitch"></label>
            </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Dark Mode Toggle
                function darkFunction() {
                    let element = document.body;
                    element.classList.toggle("dark-mode");
                }
                // Clock controller
                let clockElement = document.getElementById('clock');
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh frequency
                setInterval(clock, 1000);
            </script>
        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>