<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>Greet</title>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="contact" style="height: 35vh;">
    <div class="row justify-content-center" style="margin: 2%;">
      <label for="greetField" style="text-align: center; width: 100%;color:white">
        Enter in a greeting name and receive their BIO if available.

        <br>
        <div style="text-align: center; margin-top: 10px">
          <input name="name" id="greetField">
          <button onclick="getBio()"> Greetings!</button>
        </div>
      </label>

      <br>
      <div id="bioData" style="width: 50vw; margin-top: 20px; text-align: center"></div>
    </div>
  </div>
  <!-- End of body content specific to page -->
</div></body>

<div layout:fragment="script" th:remove="tag">
  <!-- Start of custom script specific to page -->
  <script src="/static/vanta/three.r119.min.js" th:src="@{/vanta/three.r119.min.js}"></script>
  <script src="/static/vanta/vanta.birds.min.js" th:src="@{/vanta/vanta.birds.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    VANTA.BIRDS({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00
    })

    function getBio() {
      let curName = document.getElementById("greetField").value
      axios({
        method: "get",
        url: "/greet-api?name=" + curName,
      }).then(resp => {
        document.getElementById("bioData").innerHTML = resp.data
      });
    }
  </script>
  <!-- End of custom script specific to page -->
</div>

</html>
