<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;font-family: Georgia, serif;">

            <div class="container d-flex h-400">
                <div class="row align-self-center w-100 h-200">
                    <div class="col-6 mx-auto">
                        <div class="jumbotron">
                            <div style="text-align:left;">
                                <img src="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg"
                                     width="200;" style="float: left; margin-right: 15px;">
                            <div style = "text-align:right;">
                                <h1 style="color:#FB6E52"><strong>Distraction</strong></h1>
                                <p style="font-family:Candara,serif; color:#4E5B69;"> Fetch Thousands of Personalized Movies and Songs with a Single Click </p>
                                <a href="/mvfetch/music"><button style="background-color:#FB6E52;">View the Latest Music Releases</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    </div>
    <!-- End of body content specific to page -->
    </div>></body>

</html>
