

<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>About Us</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1 class="text-center">RGB GrayScale Lab</h1>
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th style="font-color:#FFFFFF">Image</th>
                    <th style="font-color:#FFFFFF">Grayscale Image</th>
                    <th style="font-color:#FFFFFF">Samples of Data</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td>
                        <img class="img-responsive py-3" th:src="@{'/images/sunflowerRGB.png'}" alt=""
                             width="175" height="200">
                    </td>

                    <td>
                        <img class="img-responsive py-3"  th:src="@{'data:image/jpg;base64,'+${row1}}" />" alt=""
                        width="175" height="200">
                    </td>

                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="font-color:#FFFFFF">Row</th>
                                    <th style="font-color:#FFFFFF">Column</th>
                                    <th style="font-color:#FFFFFF">RGB</th>
                                    <th style="font-color:#FFFFFF">Decimal</th>
                                    <th style="font-color:#FFFFFF">Hex Code</th>
                                    <th style="font-color:#FFFFFF">Binary</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
