<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>About Us</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container" style="max-width: 90vw">
        <h1 class="text-center" style="margin-top: 4vh">RGB GrayScale Lab</h1>
        <div class="row justify-content-md-center">
            <table class="table" style="width: 80vw">
                <thead>
                <tr>
                    <th style="color: white; width: 500px" class="text-center">Image Metadata</th>
                    <th style="color: white; width: 500px" class="text-center">Image</th>
                    <th style="color: white; width: 500px" class="text-center">RGB Attributes</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="imgInfo: ${iiList}">
                    <tr th:each="imgProp: ${imgInfo.imgVariationList}" style="color: white">
                        <td class="text-center">
                            <div th:text="'(' + ${imgProp.height} + ',' + ${imgProp.width} + ')'">Height,Width</div>
                        </td>

                        <td class="text-center">
                            <img th:src="@{'data:image/jpg;base64, '+${imgProp.base64Img}}" width="auto" height="800px" />
                        </td>

                        <td class="text-center">
                            <div class="overflow-auto" style="height: 800px;" >
                                <table class="table">
                                    <thead>
                                    <tr style="color: white">
                                        <th>Row</th>
                                        <th>Column</th>
                                        <th>RGB</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <span th:each="row: ${#numbers.sequence(0, imgProp.rgbProperties.height-1)}">
                                        <tr th:each="col: ${#numbers.sequence(0, imgProp.rgbProperties.width-1)}" style="color: white">
                                            <td th:text="${row}">row</td>
                                            <td th:text="${col}">column</td>
                                            <td th:text="${imgProp.rgbProperties.rgbDecimal[row][col][0]} + ', ' + ${imgProp.rgbProperties.rgbDecimal[row][col][1]} + ', ' + ${imgProp.rgbProperties.rgbDecimal[row][col][2]}">cell</td>
                                            <td th:text="${imgProp.rgbProperties.rgbHex[row][col]}">cell</td>
                                            <td th:text="${imgProp.rgbProperties.rgbBinary[row][col][0]} + ', ' + ${imgProp.rgbProperties.rgbBinary[row][col][1]} + ', ' + ${imgProp.rgbProperties.rgbBinary[row][col][2]}">cell</td>
                                        </tr>
                                    </span>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
