<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">


<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Select Genre</title>
    <!-- End of head content specific to page -->
</div></head>


<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
<!--    <div class="container d-flex h-100 mvfetch" style="margin-top: 1vh">-->
<!--        <div class="row align-self-center w-100">-->
<!--            <div class="col-6 mx-auto">-->
<!--                <div class="jumbotron">-->
<!--                    <h1 class="row justify-content-center align-self-center display-4">List Genres</h1>-->
<!--                    <div class="row justify-content-center align-self-center">-->
<!--                        <label style="color: var(&#45;&#45;orange)" for="list">List:</label>-->
<!--                        <br>-->
<!--                        <input type="text" id="list" name="list">-->
<!--                    </div>-->
<!--                    <div class="row justify-content-center align-self-center">-->
<!--                        <input type="submit" value="Genres" onclick="GetGenres()">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <p id="confirmation"></p>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <form>
        <input type="checkbox" name="with_genres" value="28" />Action<br />
        <input type="checkbox" name="with_genres" value="12" />Adventure<br />
        <input type="checkbox" name="with_genres" value="16" />Animation<br />
        <input type="checkbox" name="with_genres" value="35" />Comedy<br />
        <input type="checkbox" name="with_genres" value="80" />Crime<br />
        <input type="checkbox" name="with_genres" value="99" />Documentary<br />
        <input type="checkbox" name="with_genres" value="18" />Drama<br />
        <input type="checkbox" name="with_genres" value="10751" />Family<br />
        <input type="checkbox" name="with_genres" value="36" />History<br />
        <input type="checkbox" name="with_genres" value="27" />Horror<br />
        <input type="checkbox" name="with_genres" value="10402" />Music<br />
        <input type="checkbox" name="with_genres" value="9648" />Mystery<br />
        <input type="checkbox" name="with_genres" value="10749" />Romance<br />
        <input type="checkbox" name="with_genres" value="878" />Science Fiction<br />
        <input type="checkbox" name="with_genres" value="10752" />War<br />
        <input type="checkbox" name="with_genres" value="37" />Western<br />
        <input type="button" value="Submit" onclick="getSelectedGenres()">
    </form>

    <!-- End of body content specific to page -->
</div></body>

<div layout:fragment="script" th:remove="tag">
    <!-- Start of custom script specific to page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossOrigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    function getSelectedGenres() {
        const form_data = document.querySelectorAll('input[name="with_genres"]:checked')
        let genres = [];
        var genreReqString = ""
        for(var i = 0; i < form_data.length; i++) {
            genreReqString = genreReqString + "&with_genres=" +  form_data[i].value;
            console.log(form_data[i].value);
        }
        axios({
            method: "post",
            url: "/genre-select-api?",
            data: genreReqString,
            headers: { "Content-Type": "text/plain" }
        }).then(resp => {
            console.log(resp.data);
        });
    }
    </script>
    <!-- End of custom script specific to page -->
</div>

</html>