<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">

        <title>Team</title>

</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="text-align: center; margin: 10px">
        <h1>Placeholder for login page</h1>
    </div>
    <!-- End of body content specific to page -->
</div></body>

<div layout:fragment="script" th:remove="tag">
    <!-- Start of custom script specific to page -->

    <!-- End of custom script specific to page -->
</div>

</html>