<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>Team</title>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->

  <ol id="demo"></ol>

</div></body>


<div layout:fragment="script" th:remove="tag">
  <!-- Start of custom script specific to page -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
          integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
          crossOrigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function(){
      var list =  document.getElementById("demo");
      // var b = document.createElement("li");
      // b.appendChild(document.createTextNode("BROASHJK"))
      // a.appendChild(b);

      // document.getElementById("p_").innerHTML = "adadfsfd";
      axios({
        method: "get",
        url: "/mvfetch/movies-api"
      }).then(resp => {
        // document.getElementById("bbb").innerText = resp.data;
        console.log(resp.data);
        var list = document.getElementById('demo');
        for(let i = 0; i < resp.data.length; i++) {
          console.log(resp.data[i]);
          var item = document.createElement("li");
          item.appendChild(document.createTextNode(resp.data[i]));
          list.appendChild(item);
        }
      });
    });
  </script>
  <!-- End of custom script specific to page -->
</div>

</html>