<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>Latest Movies</title>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->

  <div style="text-align: center; margin-top: 4vh">
    <h2><b>Top New Movie Releases of the Week</b></h2>
  </div>

 <!-- <ol id="demo"></ol> -->
  <div class="row" style="margin: 0;">
    <div class="col-sm mx-auto" id="cardList1" style="padding-right:4px; padding-left:88px;">
    </div>

    <div class="col-sm mx-auto" id="cardList2" style="padding-right:4px; padding-left:4px;">
    </div>

    <div class="col-sm mx-auto" id="cardList3" style="padding-right:88px; padding-left:4px;">
    </div>
  </div>

</div></body>


<div layout:fragment="script" th:remove="tag">
  <!-- Start of custom script specific to page -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
          integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
          crossOrigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function(){
      axios({
        method: "get",
        url: "/mvfetch/movies-api"
      }).then(resp => {
        var movieTitles = resp.data[0];
        var movieOverviews = resp.data[1];


        var cardListNum = 1;
        for(let i = 0; i < movieTitles.length; i++) {
          for(let j = 0; i < movieOverviews.length; j++) {

            console.log(movieTitles[i]);
            console.log(cardListNum);
            if (cardListNum > 3) {
              cardListNum = 1;
            }
            let cardList = $('#cardList' + (cardListNum))
            cardList.append(`
            <div class="card d-flex" style="width: 26rem; height: 21rem; margin: auto; margin-top: 2vh; margin-bottom: 2vh; text-align: center; background-color: #212424">
              <div class="card-body align-items-center d-flex justify-content-center flex-column">
                <h4 class="card-title"><b>#${i + 1}: ${movieTitles[i]}</b></h4>
                <p class="card-text">Overview: ${movieOverviews[j]}</p>
              </div>
            </div>
          `)
            cardListNum++;
          }
        }
      });
    });
  </script>
  <!-- End of custom script specific to page -->
</div>

</html>