<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>Latest Music</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div></head>

<body><div layout:fragment="content" th:remove="tag" style="margin: 0; text-align: center">

  <div style="text-align: center; margin-top: 4vh">
    <h2><b>Top New Music Releases of the Week</b></h2>
  </div>

  <div class="row" style="margin: 0;">
    <div class="col-sm mx-auto" id="cardList1" style="padding-right:4px; padding-left:88px;">
    </div>

    <div class="col-sm mx-auto" id="cardList2" style="padding-right:4px; padding-left:4px;">
    </div>

    <div class="col-sm mx-auto" id="cardList3" style="padding-right:88px; padding-left:4px;">
    </div>
  </div>

</div></body>

<div layout:fragment="script" th:remove="tag">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function(){
      axios({
        method: "get",
        url: "/mvfetch/music-api"
      }).then(resp => {
        let data = resp.data;
        for(let i = 0; i < data.items.length; i += 3) {
          for(let j = i; j < i+3; j++) {
            if(j >= data.items.length) break

            let cardList = $('#cardList' + (j-i+1))
            let curItem = data.items[j].track;
            let artistList = curItem.artists.map(i => i.name).join(", ")

            cardList.append(`
            <div class="card d-flex" style="width: 26rem; height: 21rem; margin: auto; margin-top: 2vh; margin-bottom: 2vh; text-align: center; background-color: #212424">
              <div class="card-body align-items-center d-flex justify-content-center flex-column">
                <h4 class="card-title"><b>${curItem.name}</b></h4>
                <p class="card-text">Author: ${artistList}</p>
                <p class="card-text">Release Date: ${curItem.album.release_date}</p>

                <iframe src="https://open.spotify.com/embed/track/${curItem.id}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
          `)
          }
        }
      });
    });
  </script>
</div>

</html>
