<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>Team</title>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div> class="row"
    <div class="col-sm-6">
      <div class="card">
        <h2 class="card-title" style= "color:#4E5B69;">Upcoming Music</h2><br>
        <h3 class="card-text" style= "color:#FB6E52;">MONTERO (Call Me By Your Name) by Lil Nas X</h3><br>
        <li style= "color:#4E5B69;">MONTERO is the lead single of Lil Nas X's new album named after the song. It gives the message that people who think being gay is a sin judge too quickly.</li><br>
        <h3 class="card-text" style= "color:#FB6E52;">positions by Ariana Grande</h3><br>
        <li style= "color:#4E5B69;">Ariana Grande wrote a new album about her life during the COVID-19 pandemic spent with her husband. One of the songs, positions, was the lead single for it, representing an element of empowerment. It was her husband himself that came up with the idea for the positions music video: Ariana Grande is the president.</li><br>
        <h3 class="card-text" style= "color:#FB6E52;">Take My Breath by The Weeknd</h3><br>
        <li style= "color:#4E5B69;">Take My Breath is the latest single by The Weeknd. Its lyrics imply that Abel (actual name of The Weeknd) wants to be amazed.</li>
        <h3 class="card-text" style= "color:#FB6E52;">Somebody by Justin Bieber</h3><br>
        <li style= "color:#4E5B69;">Somebody is a song on Justin Bieber's latest album JUSTICE which addresses social justice issues. Somebody in particular gives the message that no one is alone and everyone should have someone to remind them about that.</li>
        <h3 class="card-text" style= "color:#FB6E52;">STAY by The Kid LAROI and Justin Bieber</h3><br>
        <li style= "color:#4E5B69;">In this duet song, Bieber and Charlton Howard (actual name of The Kid LAROI) both express their longing love interest to stay.</li><br>
        <h3 class="card-text" style= "color:#FB6E52;">Play Date by Melanie Martinez</h3><br>
        <li style= "color:#4E5B69;">This song was released in 2015 off of Martinez's album Cry Baby.</li><br>

  </div>
      </div>
    </div>
  <!-- End of body content specific to page -->
</div></body>

<div layout:fragment="script" th:remove="tag">
  <!-- Start of custom script specific to page -->

  <!-- End of custom script specific to page -->
</div>

</html>
